body {
  background-color: skyblue;
}

@media (min-width: 600px) {
  body {
    background-color: blue;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: darkblue;
  }
}

h1 {
  color: white;
}
@media (min-width: 900px) {
  h1 {
    color: yellow;
  }
}
