.numbers{
    text-align: center;
}
.number {
    display: inline-block;
    width: 50px;
    padding-top: 12px;
    padding-bottom: 15px;
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgb(239, 120, 120)
}